{% extends "base.html" %}

{% block libs %}
    {{ super() }}

    <script type="text/javascript">
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],  // 支持 $...$ 和 \(...\) 语法
                displayMath: [['$$', '$$'], ['\\[', '\\]']],
            },
            options: {
                processEscapes: true  // 允许转义美元符号，例如 \$ 显示为普通的 $
            }
        };
    </script>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    
    <div class="video-background">
        <video id="background-video" autoplay loop muted playsinline>
            <source src="{{ base_url }}/video/background.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var tocContainer = document.querySelector('.custom-toc-container');
        var contentInner = document.querySelector('.md-content__inner');

        if (contentInner && tocContainer) {
            // 初始定位 TOC
            updateTocPosition();

            // 添加点击事件以展开/收缩 TOC
            tocContainer.addEventListener('click', function() {
                tocContainer.classList.toggle('expanded');
            });
        }

        function updateTocPosition() {
            var contentInnerRect = contentInner.getBoundingClientRect();
            tocContainer.style.top = contentInnerRect.top + 'px';
            tocContainer.style.left = contentInnerRect.right - 100 + 25 + 'px';
        }

        // 处理图像大小调整的逻辑
        document.querySelectorAll('img').forEach(function(img) {
            const match = img.src.match(/=(\d+)%x$/);
            if (match) {
                const widthPercentage = match[1];
                img.style.width = widthPercentage + '%';
                img.style.height = 'auto';
                img.src = img.src.replace(/=(\d+)%x$/, ''); // 移除 URL 中的自定义语法
            }
        });
      });
    </script>
{% endblock %}

{% block content %}
<div class="md-content__inner">
    {{ super() }}
    <!-- 新增的 TOC 区块，引用 toc 扩展生成的永久链接 -->
    <div class="custom-toc-container">
        <div class="custom-toc-title">目錄</div> <!-- 添加「目錄」标题 -->
        <nav class="custom-toc">
            <ul>
                {% for section in page.toc %}
                <li>
                    <a href="#{{ section.id }}">{{ section.title }}</a>
                    {% if section.children %}
                    <ul>
                        {% for child in section.children %}
                        <li><a href="#{{ child.id }}">{{ child.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
